## Coding Exercise #0701

### 1. String functions:

In [1]:
# To lowercase.
"HELLO! HOW ARE YOU?".lower()

'hello! how are you?'

In [2]:
# To uppercase.
"this is a warning!".upper()

'THIS IS A WARNING!'

In [3]:
# Split the string using a space as separator.
x = "Once upon a time, there was a prince and a princess.".split(" ")

In [4]:
print(x)

['Once', 'upon', 'a', 'time,', 'there', 'was', 'a', 'prince', 'and', 'a', 'princess.']

In [5]:
# Join the list of string objects using a space as separator.
" ".join(x)

'Once upon a time, there was a prince and a princess.'

In [9]:
# Measure the length of a string object.
y = "Once upon a time, there was a prince and a princess."
print(len(y))

52

In [10]:
# Count the number of occurrences of 'a'.
y.count('a')

5

In [11]:
# Sub-string.
y[0:10]

'Once upon '

### 2. Regular expressions:

In [12]:
import re

#### 2.1. Metacharacter: Dot

In [13]:
# Target strings.
x1 = "ct"
x2 = "cat"
x3 = "caat"

In [14]:
# A regular expression.
my_expression = re.compile("c.t")

In [15]:
if my_expression.search(x1):
    print("Yes!")
else:
    print("No")

No

In [16]:
if my_expression.search(x2):
    print("Yes!")
else:
    print("No")

Yes!

In [17]:
if my_expression.search(x3):
    print("Yes!")
else:
    print("No")

No

#### 2.2. Metacharacter: ?

In [19]:
# A regular expression.
my_exp = "ca?t"

In [20]:
if re.search(my_exp, x1):
    print("Yes!")
else:
    print("No")

Yes!

In [21]:
if re.search(my_exp, x2):
    print("Yes!")
else:
    print("No")

Yes!

In [22]:
if re.search(my_exp, x3):
    print("Yes!")
else:
    print("No")

No

#### 2.3. Metacharacter: {m,n}

In [24]:
# Target strings.
x1 = "ct"
x2 = "cat"
x3 = "caat"
x4 = "caaat"

In [23]:
# A regular expression.
my_exp= "ca{1,2}t"

In [25]:
if re.search(my_exp, x1):
    print("Yes!")
else:
    print("No")

No

In [26]:
if re.search(my_exp, x2):
    print("Yes!")
else:
    print("No")

Yes!

In [27]:
if re.search(my_exp, x3):
    print("Yes!")
else:
    print("No")

Yes!

In [28]:
if re.search(my_exp, x4):
    print("Yes!")
else:
    print("No")

No

#### 2.4. Metacharacter: ^

In [29]:
# Target strings.
x1 = "That is your book."
x2 = "This is my book."

In [30]:
# A regular expression.
my_exp = "^This"

In [31]:
if re.search(my_exp, x1):
    print("Yes!")
else:
    print("No")

No

In [32]:
if re.search(my_exp, x2):
    print("Yes!")
else:
    print("No")

Yes!

#### 2.5. Metacharacter: ^

In [33]:
# Target strings.
x1 = "I don't like you"
x2 = "You are great"
x3 = "in case you forget, remember this"

In [34]:
# A regular expression.
my_exp = "^[Ii]"

In [35]:
if re.search(my_exp, x1):
    print("Yes!")
else:
    print("No")

Yes!

In [36]:
if re.search(my_exp, x2):
    print("Yes!")
else:
    print("No")

No

In [37]:
if re.search(my_exp, x3):
    print("Yes!")
else:
    print("No")

Yes!

More examples:

In [38]:
# Target strings.
x1 = "This is year 2019"
x2 = "2000 is the year of my birth"

In [39]:
# A regular expression.
my_exp = "^[0-9]"

In [40]:
if re.search(my_exp, x1):
    print("Yes!")
else:
    print("No")

No

In [41]:
if re.search(my_exp, x2):
    print("Yes!")
else:
    print("No")

Yes!

#### 2.6. Metacharacter: $

In [42]:
# Target strings.
x1 = "Python is easy"
x2 = "You need Python"

In [43]:
# A regular expression.
my_exp = "Python$"

In [44]:
if re.search(my_exp, x1):
    print("Yes!")
else:
    print("No")

No

In [45]:
if re.search(my_exp, x2):
    print("Yes!")
else:
    print("No")

Yes!

#### 2.7. Metacharacter: |

In [46]:
# Target strings.
x1 = "I love you"
x2 = "I hate you"
x3 = "I like you"

In [47]:
# A regular expression.
my_exp = "love|hate"

In [49]:
if re.search(my_exp, x1):
    print("Yes!")
else:
    print("No")

Yes!

In [48]:
if re.search(my_exp, x2):
    print("Yes!")
else:
    print("No")

Yes!

In [50]:
if re.search(my_exp, x3):
    print("Yes!")
else:
    print("No")

No

#### 2.8. sub() function:

In [51]:
# Target strings.
x1 = "Welcome to the year 2018"
x2 = "Just ~%* ++++--- arrived at @Jack's ##place."
x3 = "I                  love                you."

In [52]:
# Substitute the matching pattern with 'X'.
re.sub('\d','X',x1)

'Welcome to the year XXXX'

In [53]:
# Substitute the matching pattern with space.
x2_modified = re.sub('[@~*#%+-]',' ',x2)
x2_modified

"Just             arrived at  Jack's   place."

In [54]:
# Remove the excessive spaces.
x2_final = re.sub('\s+',' ',x2_modified)
x2_final

"Just arrived at Jack's place."

In [ ]:
# Remove the excessive spaces.
re.sub('\s+',' ',x3)